@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
  font-family: "Inconsolata";
  src: url(../fonts/inconsolata.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inconsolata";
}
img {
  display: block;
  width: 100%;
}

/* ESTILOS DE SLIDER */
.container-slider{
  margin: 0px 0;
  position: relative;

  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  height: 300px;
  margin-left: -100%;
  position: relative;
}
.slider:before{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  height: 100%;
}

.slider__section {
  width: 100%;
  position: relative;



}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;

}
.slider__btn:hover { 
  background: #fff;
}
.slider__btn--left{
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
.slider__content{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;
  z-index: 999;
}
.slider__title{
  font-size: 2.2em;
  margin: 0;
}
.slider__txt{
  margin: 5px 0;
}
.btn-shop{
  display: block;
  background: #FF4E00;
  
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 20px auto;
  transition: all 0.5s;
}
.btn-shop:hover{
  border: 3px solid black;
  
}
/* ESTILOS DE PRODUCTOS */
.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}
.product:before {
  content: "Nuevo";
  background: #FF4E00;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: white;
}

.product__img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.product__title{
  text-align: center;
}
.product__price {
  color: #FF4E00;
  font-weight: bold;
}
.product__icon {
  display: block;
  margin-top: 10px;
}
.product:hover .product__icon {
  color: #FF4E00;
}


/* ESTILOS DE PRODUCTOS 1 */

.container-editor{
  margin-top:10px;
  width: 100%;

}

.editor__item{
  height: 250px;
  position: relative;
  overflow: hidden;
 

}

/* ESTILOS DE PRODUCTOS 2 */


.editor__item2{
  height:190px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;


}
.editor__item2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  transition: all 0.5s;
}
.editor__item2:hover:before {
  opacity: 1;
}
.editor__item2:hover .editor__circlede{
  transform: scale(9.9);
  bottom: -90px;
  right: -50px;

}
/* ESTILOS DE PRODUCTOS 3 */


.editor__item3{
  height: 180px;

  position: relative;
  overflow: hidden;
  border-radius: 7px;
  

}
.editor__item3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  transition: all 0.5s;
}
.editor__item3:hover:before {
  opacity: 1;
}
.editor__item3:hover .editor__circlede{
  transform: scale(9.9);
  bottom: -90px;
  right: -50px;

}


.editor__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editor__circle{
  width: 200px;
  height: 200px;
  border: 2px solid #A0908D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  right: -150px;
  color: #A0908D;
  padding: 20px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s;
}
.editor__circlede{

  width:100%;
  height: 100%;
 
  position: absolute;

}

.editor__item:hover .editor__circle{
  transform: scale(1.2);
  bottom: -90px;
  right: -50px;
  
}
.editor__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  opacity: 0;
  transition: all 0.5s;
}
.editor__item:hover:before {
  opacity: 1;
}
.container-tips{
  margin: 20px 0;
  text-align: center;
}
.tip i{
  font-size: 2em;
  color: #333;
  padding: 20px 0;
}
.tip .btn-shop {
  color: #333;
}
.btn-shop:hover {
  color: white;
}



/*Estilos para tablet*/
@media screen and (min-width:768px) {
  .slider{
    height: 400px;
  }
  .editor__item{
    height: 400px;
  }
 .editor__item2{
    height:250px;
    
  
  }
  .editor__item3{
  height: 130px;
  



 
}
  .container-tips{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }



}

/*Estilos para web*/

@media screen and (min-width:1024px) { 
  .container{
    width: 1000px;
    margin: auto;
  }
  .icon-menu {
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
    padding: 0 20px;
  }
  .main-header__title {
    width: 100%;
    font-size: 4em;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .main-header__link {
    margin-bottom: 20px;

  }
  .main-header__btn{
    width: 130px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
  }
  .main-nav{
    visibility: visible;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;
  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }
  .container-products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product__img {
    height: 150px;
  }
  .container__testimonials{
    font-size: 1.3em; 
  }
  .container-editor{
    display: flex;
    justify-content: space-between;
  }
  .editor__item{
    width: 48%;
  }
  .editor__item2{
    width: 48%;
  }
  .editor__item3{
    width: 48%;
  }
  
  
}

@media screen and (min-width:1280px) { 
  .container{
    width: 1200px;
  }
  .main-header__container:nth-child(3){
    padding-left: 60px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.3em;
  }
  .slider{
    height: 500px;
    font-size: 1.5em;
  }
}

@media screen and (min-width:1600px) { 
  .container{
    width: 1500px;
  }
  .main-header__container:nth-child(3){
    padding-left: 150px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .slider{
    height: 600px;
  }
  .product__img {
    height: 200px;
  }
}

.sheetSlider {
    background-color: #121214;
    font-size: 8px;
    line-height: 1.5;
    position: relative;
    width: 100%;
    padding-bottom: 42.857143%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.sheetSlider input,
.sh__btns, .sh__meta{display: none;}
/* reset */
.sheetSlider h4,
.sheetSlider label,
.sheetSlider a,
.sheetSlider img,
.sheetSlider span,
.sh-control {
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-shadow: 0 0 transparent;
    text-decoration: none;
}
/* Contenedor
------------------------------------*/
.sh__content {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform .7s cubic-bezier(.54,0,.1,1);
    transform: translate3d(0, 0, 0);
}

/* Estilos para los items
------------------------------------*/
.sh__item {
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.sh__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  opacity: 0;
  transition: all 0.5s;
}
.sh__item:hover:before {
  opacity: 1;
}
.sh__item:hover .editor__circlede{
  transform: scale(9.9);
  bottom: -90px;
  right: -50px;

}
.sh__item img {
    width: 100%;
    height: 100%;
    background:center;
    background: fixed;
    background: cover;
    background: no-repeat;
}

/* Estilos para textos
------------------------------------*/
.sh__meta {
    left: 4em;
    top: 4em;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3), 0 1px 5px rgba(0, 0, 0, .16);
    max-width: 80%;
    opacity: 0;
    transform: translate3d(0, 4em, 0);
    transition: opacity .7s .4s,transform .7s .4s;
}
.sh__meta h4 {
    font-size: 3.4em;
    font-weight: 700;
}
.sh__meta span {
    font-size: 1.7em;
    font-weight: 500;
    padding-top: .2em;
}
.sh__meta h4,
.sh__meta span {
    color: #fff;
    display: block;
}
.sh__meta a {
    font-weight: 500;
    transition: color .5s;
}

/* Estilo para botonera
-------------------------------------*/
.sh__btns {
    bottom: 0;left: 0;right: 0;
    position: absolute;
    z-index: 10;
    padding-left: 4em;
    padding-right: 4em;
    justify-content: space-between;
}
.sh__btns label {
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
    margin: 0 .2em;
    height: 10px;
    flex: 1 0 auto;
    transition: background .5s;
}
.sh__btns label:hover {
    background-color: #FF4E00;
}




/*Animacion Default*/
.sh-default .sh__item:nth-child(2) {left: 100%}
.sh-default .sh__item:nth-child(3) {left: 200%}
.sh-default .sh__item:nth-child(4) {left: 300%}
.sh-default .sh__item:nth-child(5) {left: 400%}
.sh-default .sh__item:nth-child(6) {left: 500%}
.sh-default .sh__item:nth-child(7) {left: 600%}
.sh-default .sh__item:nth-child(8) {left: 700%}
.sh-default .sh__item:nth-child(9) {left: 800%}
.sh-default .sh__item:nth-child(10) {left: 900%}

.sh-default input:nth-child(1):checked~.sh__content {transform: translate3d(0%, 0, 0);}
.sh-default input:nth-child(2):checked~.sh__content {transform: translate3d(-100%, 0, 0);}
.sh-default input:nth-child(3):checked~.sh__content {transform: translate3d(-200%, 0, 0);}
.sh-default input:nth-child(4):checked~.sh__content {transform: translate3d(-300%, 0, 0);}
.sh-default input:nth-child(5):checked~.sh__content {transform: translate3d(-400%, 0, 0);}
.sh-default input:nth-child(6):checked~.sh__content {transform: translate3d(-500%, 0, 0);}
.sh-default input:nth-child(7):checked~.sh__content {transform: translate3d(-600%, 0, 0);}
.sh-default input:nth-child(8):checked~.sh__content {transform: translate3d(-700%, 0, 0);}
.sh-default input:nth-child(9):checked~.sh__content {transform: translate3d(-800%, 0, 0);}
.sh-default input:nth-child(10):checked~.sh__content {transform: translate3d(-900%, 0, 0);}




/* Mostrar el texto
------------------------------------*/
.sheetSlider input:nth-child(1):checked~.sh__content .sh__item:nth-child(1) .sh__meta,
.sheetSlider input:nth-child(2):checked~.sh__content .sh__item:nth-child(2) .sh__meta,
.sheetSlider input:nth-child(3):checked~.sh__content .sh__item:nth-child(3) .sh__meta,
.sheetSlider input:nth-child(4):checked~.sh__content .sh__item:nth-child(4) .sh__meta,
.sheetSlider input:nth-child(5):checked~.sh__content .sh__item:nth-child(5) .sh__meta,
.sheetSlider input:nth-child(6):checked~.sh__content .sh__item:nth-child(6) .sh__meta,
.sheetSlider input:nth-child(7):checked~.sh__content .sh__item:nth-child(7) .sh__meta,
.sheetSlider input:nth-child(8):checked~.sh__content .sh__item:nth-child(8) .sh__meta,
.sheetSlider input:nth-child(9):checked~.sh__content .sh__item:nth-child(9) .sh__meta,
.sheetSlider input:nth-child(10):checked~.sh__content .sh__item:nth-child(10) .sh__meta {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}



/* MediaQuerys
------------------------------------*/
/* Small devices */
@media (min-width: 576px) {
    .sheetSlider {
        font-size: 9px;
    }
    
}
/* Medium devices */
@media (min-width: 768px) {
    .sh__btns {
        display: flex;
    }
    .sh__meta {
        display: block;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .sheetSlider{
        font-size: 10px;
    }
}

